footer
    .footer
        .container
            .footer__inner
                .footer__link-to-web-site
                    //- a(href="https://deputat.odessa.ua/" target="_blank")
                    //-     img(src="././assets/img/deputat.png")
                    //- a(href="https://osvita-omr.gov.ua/" target="_blank")
                    //-     img(src="././assets/img/osvita.png")
                    //- a(href="/" target="_blank").act
                    //-     img(src="././assets/img/logo-molod-rus-act.png")
                    //- a(href="https://omr.gov.ua/" target="_blank")
                    //-     img(src="././assets/img/omr.png")
                    //- a(href="https://1535.odessa.ua/" target="_blank")
                    //-     img(src="././assets/img/15-35.png")

                .footer__menu
                    nav.footer__nav 
                        li
                            a(href="/").footer__nav-link Головна 
                        li
                            a(href="/").footer__nav-link Контактна форма
                        li 
                            a(href="/info-photo-page.html").footer__nav-link Довідка
                .footer__copyright
                    p.footer__copyright-txt &copy; 2022   Департамент інформації та цифрових рішень Одеської міської ради.
                    //- p.footer__copyright-txt &copy; 2019   Департамент інформації та зв'язків з громадськістю Одеської міської ради.
