header
    .header 
        .container
            .header__inner  
                nav.header__nav 
                    li
                        a(href="/").header__nav-link Головна
                    li
                        a(href="/events-page.html").header__nav-link Контактна форма
                    li 
                        a(href="/info-photo-page.html").header__nav-link Довідка 
                