.banner {
    &__inner {
        display: flex;
        justify-content: center;
    }
    &__logo {
        max-width: 100px;
    }

    &__inf {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 30px;
    }
    &__inf-text {
        font-size: 26px;
        margin-bottom: 10px;
    }
    &__inf-text-main {
        font-size: 32px;
        font-weight: bold;
    }
}


.block-forms {
    &__inner {
        display: flex;
        justify-content: space-around;
    }


    &__fines {
        display: block;
        background: $light-gray-omr;
        width: 43%;
        padding: 25px 20px;
        &:hover, &:active {
            box-shadow: 1px 2px 11px 2px $midle-gray-omr;
            transform: translateY(-2px);
        }
    }
    &__fines-logo {
        margin: 20px auto;
        width: 150px;
        margin-bottom: 30px;
    }

    &__fines-enter-data {
        display: block;
    }

    &__fines-inf-txt-attention {
        font-weight: bold;
        font-size: 17px;    
        line-height: 1.3;
    }
    &__fines-inf-txt {
        font-size: 17px;
        line-height: 1.3;
    }
    &__fines-inf-txt-attention-sec {
        font-weight: bold;
        font-size: 17px;
        line-height: 1.3;
    }

    &__fines-title {
        padding: 25px 0;
        margin: 5px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1px;
    }

    &__car-number, &__decree-number {
        //padding-top: 25px;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    &__fines-label-car-number, &__fines-label-decree-number {    
        display: block;
        color: $dark-green;    
        padding-left: 5px;
        padding-bottom: 2px;
        font-size: 15px;
    }

    &__fines-enter-data-car-number, &__fines-enter-data-decree-number {
        padding: 10px;
        font-size: 20px;
        width: 100%;
        border: 1px solid $light-color;
        &::placeholder {
            color: $light-color;
        }
        
    }

    &__fines-recaptcha {
        display: block;
        border: 1px solid #000;
        width: 100%;
        //width: 304px;
        height: 78px;
    }

    &__fines-btn {
        display: block;
        background: $yellow-omr;
        padding: 15px 25px;
        border-radius: 10px;
        color: $white-color;
        text-transform: uppercase;
        margin: 15px auto;
        font-size: 20px;
        cursor: pointer;
        margin-top: 35px;
        &:hover {
            background: $blue-omr;
        }
    }



    &__parking {
        display: block;
        background: $light-gray-omr;
        width: 45%;
        padding: 25px 20px;
        &:hover, &:active {
            box-shadow: 1px 2px 11px 2px $midle-gray-omr;
            transform: translateY(-2px);
        }
    }
    &__parking-logo {
        margin: 20px auto;
        width: 150px;
        margin-bottom: 30px;
        transform: scale(1.1);
        text-align: center;
    }

    &__parking-inf-txt-attention {
        font-weight: bold;
        font-size: 17px;    
        line-height: 1.3;
    }
    &__parking-inf-txt {
        font-size: 17px;
        line-height: 1.3;
    }
    &__parking-inf-txt-attention-sec {
        font-weight: bold;
        font-size: 17px;
        line-height: 1.3;
    }

    &__parking-title {
        padding: 25px 0;
        margin: 5px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1px;
    }

    &__car-number, &__decree-number {
        //padding-top: 25px;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    &__parking-label-car-number, &__parking-label-decree-number {    
        display: block;
        color: $dark-green;    
        padding-left: 5px;
        padding-bottom: 2px;
        font-size: 15px;
    }

    &__parking-enter-data-car-number, &__parking-enter-data-decree-number {
        padding: 10px;
        font-size: 18px;
        width: 100%;
        border: 1px solid $light-color;
        &::placeholder {
            color: $light-color;
        }
        
    }

    &__parking-recaptcha {
        display: block;
        border: 1px solid #000;
        width: 100%;
        //width: 304px;
        height: 78px;
    }

    &__parking-btn {
        display: block;
        background: $yellow-omr;
        padding: 15px 25px;
        border-radius: 10px;
        color: $white-color;
        text-transform: uppercase;
        margin: 15px auto;
        font-size: 20px;
        margin-top: 35px;
        cursor: pointer;
        &:hover {
            background: $blue-omr;
        }
    }
}


.requisites {
    &__title {
       text-align: center;
       text-transform: uppercase;
       font-weight: bold;
       font-size: 22px;
       padding-bottom: 40px;
    }

    &__inf {
        display: block;
        width: 80%;
        background: $light-gray-omr;
        padding: 40px;
        margin: 0 auto;
        box-shadow: 1px 1px 6px 1px #999;
        &:hover, &:active {
            // box-shadow: 1px 2px 11px 2px $midle-gray-omr;
        }
    }

    &__inf-bank, &__inf-bank-code, &__inf-recipient, &__inf-recipient-code,
    &__inf-account-number, &__inf-kbk, &__inf-purpose-of-payment {
        display: flex;
    }

    &__inf-bank-subtitle, &__inf-bank-code-subtitle, &__inf-recipient-subtitle, &__inf-recipient-code-subtitle,
    &__inf-account-number-subtitle, &__inf-kbk-subtitle, &__inf-purpose-of-payment-subtitle {
       font-size: 18px;
       font-weight: bold;
       color: $dark-green;
       line-height: 1.5;
    }

    &__inf-bank-txt, &__inf-bank-code-txt, &__inf-recipient-txt, &__inf-recipient-code-txt,
    &__inf-account-number-txt, &__inf-kbk-txt, &__inf-purpose-of-payment-txt {
        font-size: 18px;
        margin-left: 10px;
        line-height: 1.5;
   }

}


.view {
    display: block !important;
}
.hidden {
    display: none;
}



@media screen and (max-width: 900px) {
    .requisites{
        &__inf {
            width: 100%;
            padding: 20px;
        }
        &__inf-bank-subtitle, &__inf-bank-code-subtitle, &__inf-recipient-subtitle, &__inf-recipient-code-subtitle,
        &__inf-account-number-subtitle, &__inf-kbk-subtitle, &__inf-purpose-of-payment-subtitle {
            font-size: 16px;
        }

        &__inf-bank-txt, &__inf-bank-code-txt, &__inf-recipient-txt, &__inf-recipient-code-txt,
        &__inf-account-number-txt, &__inf-kbk-txt, &__inf-purpose-of-payment-txt {
            font-size: 16px;
            margin-left: 5px;
        }
    }

}

@media screen and (max-width: 850px) {
    .banner {

    }
    .block-forms {
        &__fines, &__parking {
            width: 40%;
        }
    }
}

@media screen and (max-width: 768px) {
    .banner {
        padding-top: 110px;
        &__inner {
            flex-direction: column;
            align-items: center;
        }
        &__inf {
            padding: 50px 0 0;
            text-align: center;
            // width: 60%;
        }
        &__inf-text {
            font-size: 18px;
        }
        &__inf-text-main {
            font-size: 24px;
        }
    }
    .block-forms {
        &__inner {
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__fines, &__parking {
            margin: 15px auto;
            width: 80%;
        }

        &__fines-inf-txt , &__parking-inf-txt {
            font-size: 13px;
        }
        &__fines-inf-txt-attention-sec, &__parking-inf-txt-attention-sec {
            font-size: 13px;
        }

        &__fines-title, &__parking-title {
            font-size: 15px;
        }
        &__fines-enter-data, &__parking-enter-data {
            display: none;
        }
        &__fines-label-car-number, &__fines-label-decree-number,
        &__parking-label-car-number, &__parking-label-decree-number {
            font-size: 13px;
        }
        &__fines-enter-data-car-number, &__fines-enter-data-decree-number,
        &s__parking-enter-data-car-number, &__parking-enter-data-decree-number {
            font-size: 15px;
        }
    }
    .requisites{

        &__title {
            font-size: 19px;
            padding-bottom: 30px;
        }
        &__inf {
        }
        &__inf-bank-subtitle, &__inf-bank-code-subtitle, &__inf-recipient-subtitle, &__inf-recipient-code-subtitle,
        &__inf-account-number-subtitle, &__inf-kbk-subtitle, &__inf-purpose-of-payment-subtitle {
            font-size: 14px;
        }

        &__inf-bank-txt, &__inf-bank-code-txt, &__inf-recipient-txt, &__inf-recipient-code-txt,
        &__inf-account-number-txt, &__inf-kbk-txt, &__inf-purpose-of-payment-txt {
            font-size: 14px;
            margin-left: 5px;
        }
    }
}

@media screen and (max-width: 484px) {
    
    .banner {  
        &__inner {
        }
        &__logo {
            max-width: 80px;
            margin-right: 0;
        }
        &__inf-text {
            font-size: 15px;
        }
        &__inf-text-main {
            font-size: 18px;
            margin: auto 15px;
        }
    }

    .block-forms {
        &__inner {
        }
        &__fines, &__parking {
            width: 100%;
        }
        
        &__fines-label-car-number, &__fines-label-decree-number {
            font-size: 12px;
        }
        &__fines-enter-data-car-number, &__fines-enter-data-decree-number {
            font-size: 14px;
        }
    }

    .requisites{
        &__title {
            font-size: 16px;
            padding-bottom: 20px;
        }
        &__inf-bank-subtitle, &__inf-bank-code-subtitle, &__inf-recipient-subtitle, &__inf-recipient-code-subtitle,
        &__inf-account-number-subtitle, &__inf-kbk-subtitle, &__inf-purpose-of-payment-subtitle {
            font-size: 13px;
        }

        &__inf-bank-txt, &__inf-bank-code-txt, &__inf-recipient-txt, &__inf-recipient-code-txt,
        &__inf-account-number-txt, &__inf-kbk-txt, &__inf-purpose-of-payment-txt {
            font-size: 13px;
            margin-left: 5px;
        }
    }
}

@media screen and (max-width: 424px) {
    .requisites{
        &__inf {
            padding: 10px;
        }
        &__inf-bank-subtitle, &__inf-bank-code-subtitle, &__inf-recipient-subtitle, &__inf-recipient-code-subtitle,
        &__inf-account-number-subtitle, &__inf-kbk-subtitle, &__inf-purpose-of-payment-subtitle {
            font-size: 11px;
        }

        &__inf-bank-txt, &__inf-bank-code-txt, &__inf-recipient-txt, &__inf-recipient-code-txt,
        &__inf-account-number-txt, &__inf-kbk-txt, &__inf-purpose-of-payment-txt {
            font-size: 11px;
            margin-left: 5px;
        }
    }
}


@media screen and (max-width: 324px) {
    

    .banner {
        &__logo img {
        }
        &__inf-text {
            font-size: 15px;
        }
        &__inf-text-main {
            font-size: 18px;
        }
    }
    .block-forms {
        &__inner {
        }
        &__fines, &__parking {
            width: 85%;
        }
    }
}